<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <%= gravatar_image_tag(comment.user.email, class: 'border-radius-50', size: 48, alt: comment.user.username) %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.user.username %></strong> <small><%= time_ago_in_words(comment.created_at) %></small>
          <br/>
          <%= markdown(comment.comment) %>
        </p>
      </div>
        <nav class="level is-mobile">
          <%= pluralize comment.reputation_for(:votes).to_i, "punto" %>
          <div class="level-right">
            <% if user_signed_in? && !comment_author(comment)%>
            <a class="level-item">
              <%= link_to vote_post_comment_path(comment.post, comment, type: "up"), method: "post" do %>
              <span class="icon is-small"><i class="fa fa-thumbs-o-up fa_custom fa-2x"></i></span>
              <% end %>
            </a>
            <a class="level-item"></a>
            <a class="level-item">
              <%= link_to vote_post_comment_path(comment.post, comment, type: "down"), method: "post" do %>
              <span class="icon is-small"><i class="fa fa-thumbs-o-down fa_custom fa-2x"></i></span>
              <% end %>
            </a>
            <a class="level-item"></a>
            <% end %>
          </div>
        </nav>
      <% if comment_author(comment) || has_role?(:admin)%>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <%= link_to edit_post_comment_path(comment.post, comment) do %>
            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to [comment.post, comment],
                method: :delete, data: {confirm: "Estás seguro?" } do %>
            <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
            <% end %>
          </a>
        </div>
      </nav>
      <% end %>
    </div>
  </article>
</div>
