<!DOCTYPE html>
<html>
  <head>
    <title>Grupo 37</title>
  </head>
  <body>
    <h1>Lista de Usuarios</h1>
      <% flash.each do |key, value|%>
        <div><%= value %></div>
        <% end %>
    <table>
      <tr>
        <td>Nombre</td>
        <td>Email</td>
      </tr>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= link_to usuario.nombre, usuario %></td>
          <td><%= usuario.email %></td>
          <td><%= link_to "Editar", edit_user_path(usuario) %></td>
          <td><%= link_to "Eliminar", usuario, method: :delete, confirm: "¿Estas seguro?"%></td>
        </tr>
      <% end %>
      <% if @usuarios.size==0 %>
        USUARIOS NO ENCONTRADOS
      <%end%>
    </table>

    <li><%= link_to 'Registrarse', '/signup' %>
    <li><%= link_to 'Iniciar sesión', login_path %></li>
    <li><%= link_to "Atras", :back %></li>
    <li><%= link_to "Inicio", root_url %></li>

  </body>
</html>
