<% @users.each do |user| %>
<div class="column is-10">
  <div class="columns bb-not-last pv10">
    <div class="column is-1">
      <%= gravatar_image_tag(user.email, class:'border-radius-50', size: 48, alt: user.username) %>
    </div>
    <div class="column is-8">
      <div class="content">
        <h1 class="title is-4 has-text-grey discussion-title"><%= user.username %></h1>
        <h3 class="subtitle is-6 has-text-grey-lighter">Mail: <%= user.email %> | Reputación: <%= user.reputation_for(:rp).to_i %> puntos</h3>
      </div>
    </div>
    <div class="column has-text-right">
      <nav class="level is-mobile">
        <div class="level-right">
          <%= link_to 'Ver Perfil', user_path(user.id), class:'button'%>
        </div>
      </nav>
    </div>
  </div>
</div>
<% end %>
