%h1 Publicaciones - Grupo 37


- @posts.each do |post|
  %h2= link_to post.title, post
  %p
    Publicado hace
    = time_ago_in_words(post.created_at)
    por
    = post.user.name

- if user_signed_in?
  = link_to "Nuevo Post", new_post_path
  = link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete
- else
  = link_to "Iniciar Sesión", new_user_session_path
  = link_to "Registrarse", new_user_registration_path

