%h1= @post.title
%p= @post.content

#comments
  %h2= "Cantidad de comentarios:"
  %h2= @post.comments.count
  = render @post.comments

  %h3 Comentar
  = render "comments/form"

= link_to "Editar", edit_forum_post_path(@forum, @post)
= link_to "Eliminar", forum_post_path(@forum, @post), method: :delete, data: { confirm: "¿Estás Seguro?"}
= link_to "Inicio", root_path
