#posts
  .post
    %h2= @post.title
    %h3= @post.content

    %br
    - if can? :update, @post
      = link_to "Editar", edit_forum_post_path(@forum, @post), class: "btn btn-sm btn-default"
    - if can? :destroy, @post
      = link_to "Eliminar", forum_post_path(@forum, @post), method: :delete, data: { confirm: "¿Estás Seguro?"}, class: "btn btn-sm btn-default"

  .post
    %b= "Cantidad de comentarios: "
    %b= @post.comments.count

#comments
  .comment
    = render @post.comments
    %br

    - if can? :create, @forum
      %h3 Comentar
      = render "comments/form"
