<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @post.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @post.user.username %> in <%= link_to @post.forum.title, @post.forum %></h3>
    <% if user_signed_in? %>
    <div class="column has-text-right">
      <nav class="level is-mobile">
        <h3 class="subtitle is-3 has-text-grey"><%= pluralize @post.reputation_for(:votes).to_i, "point" %></h3>
        <div class="level-right">
          <a class="level-item">
            <%= link_to vote_post_path(@post, type: "up"), method: "post" do %>
            <span class="icon is-small"><i class="fa fa-thumbs-o-up"></i></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to vote_post_path(@post, type: "down"), method: "post" do %>
            <span class="icon is-small"><i class="fa fa-thumbs-o-down"></i></span>
            <% end %>
          </a>
        </div>
      </nav>
    <% end %>
    <% if post_author(@post) || has_role?(:admin)%>
      <%= link_to 'Editar', edit_post_path(@post), class:'button' %>
      <%= link_to 'Eliminar', @post, method: :delete, data: { confirm: 'Estás seguro?' }, class: "button" %>
    </div>
    <% end %>

    <div class="content"><%= markdown(@post.content) %></div>

    <h2 class="subtitle is-5 has-text-grey"><%= @post.comments.count %> Comentarios</h2>

    <div id="post-comments">
      <%= render @post.comments %>
    </div>

    <hr />

    <h3 class="subtitle is-3 has-text-grey">Deja un comentario</h3>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% else %>
    <p>Para comentar necesitas <%= link_to 'Iniciar Sesión', new_user_session_path %>. No tienes una cuenta?
      <%= link_to 'Registrate', new_user_registration_path %>.</p>
    <% end %>

  </div>

  <%= render 'sidebar' %>

</div>
